doctype html 
html 
    head 
        title First page 
        style 
            include landing_page.css
    body 
        
        nav
            div.logo Company-X 
            div.menu
                a(href='#') Home
                a(href='#') About Us
                a(href='#') Contact Us
                a(href='#') Career
            div.login 
                a(href='http://localhost:3000/login')   Login    